body{
    font-family: 'Montserrat', sans-serif;
}

#logo{
    width: 60px;
    
}

#footer{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 12px;                
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    
    border-radius: 20px;   
    border: 3px solid rgb(255, 255, 255);  
  }
  